.titleHeader {
  color: var(--principal-400);
  justify-self: center;
  font-family: var(--font-title);
  font-size: 2rem;
  letter-spacing: 0.0625rem;
}

.section {
  padding: 2rem 1rem ;
}

.form {
  /* max-height: 100vh; */
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.inputLabel {
  font-family: var(--font-title);
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--black-100);
}

.inputBox {
  display: flex;
  gap: 1rem;
}

.inputBox input,
.inputBox textarea {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid var(--principal-400);
  outline: none;
  font-family: var(--font-text);
  color: var(--principal-400);
  font-weight: 600;
  font-size: 1.25rem;
  /* accent-color: var(--principal-400); */
  transition: box-shadow .3s;
}

.inputBox input::placeholder {
  color: var(--black-400);
}

.inputBox input:focus,
.inputBox textarea:focus {
  /* border-color: var(--black-100); */
  box-shadow: var(--glow-effect);
}



.button {
  background: var(--principal-400);
  width: 100%;
  padding: 0.75rem 0.5rem;
  border-radius: 0.5rem;
  outline: none;
  border: 2px solid transparent;
  font-family: var(--font-title);
  font-size: 1.5rem;
  letter-spacing: 0.125rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: box-shadow .3s;
}

.button:hover, .button:focus {
  box-shadow: var(--glow-effect);
  border-color: var(--black-100);
}