.logo {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.logo * {
  color: var(--principal-400);
  stroke-width: 20px;
}

.avatar {
  border: 2px solid var(--principal-400);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--glow-effect);
  cursor: pointer;
}

.main {
  position: relative;
}

.section {
  padding: 2rem 1rem 8rem 1rem;
}

.titleSection {
  font-family: var(--font-title);
  font-size: 2rem;
  font-weight: 600;
  color: var(--principal-400);
  margin-bottom: 3rem;
}

.listCards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 2.5rem;
  justify-content: center;
  position: relative;
}

.card {
  border-radius: 12px;
  flex-grow: 1;
  flex-basis: 25rem;
  max-width: 100%;
  
  transition: all .3s;
}

.cardImage {
  max-width: 100%;
  height: 100%;
  max-height: 18rem;
  margin-bottom: 0.5rem;
}

.cardImage img {
  border-radius: 12px;
}

.card:hover {
  box-shadow: var(--glow-effect);
}

.cardContent {
  
  padding: 0.75rem 1rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: space-between;
  background: var(--black-900);
  border-radius: 0.5rem 0.5rem 0.625rem 0.625rem;
  
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title {
  font-family: var(--font-title);
  font-size: 1.5rem;
  color: var(--black-50);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; 
  width: 100%;
  max-width: 20ch;
}

.details  {
  display: flex;
  gap: 0.5rem;
  width: fit-content;
}

.details li {
  display: flex;
  gap: 0.125rem;
  align-items: center;
  font-size: 1.25rem;
  font-family: var(--font-text);
  font-size: 1rem;
  font-weight: 600;
  color: var(--black-100);
}

.details li:nth-child(3) {
  text-transform: capitalize;
}

.details li svg {
  width: 1.25rem;
  color: var(--black-300);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  color: var(--principal-400);
  box-shadow: var(--glow-effect);
  border-radius: 50%;
  transition: transform .3s;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.1);
}

.button svg {
  pointer-events: none;
}

.buttonAdd {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--principal-400);
  border-radius: 50%;
  padding: .5rem;
  color: var(--black-950);
  box-shadow: var(--glow-effect);
  transition: transform .5s ease-in-out;
  z-index: 10;
}

.buttonAdd:hover {
  transform: rotate(360deg) scale(1.1);
}


@media (max-width: 31.25rem) {
  .details li {
    font-size: .75rem;
    flex-direction: column;
    align-items: flex-start;
  }

  .details li svg {
    width: 1rem;
  }

  .details li svg * {
    stroke-width: 24px;
  }

  .title {
    max-width: 16ch;
    font-size: 20px;
  }

  .buttonAdd svg {
    width: 3.5rem;
  }

  .card {
    height: fit-content;
  }

  .cardImage {
    margin-bottom: initial;
    max-height: inherit ;
  }
}