.titleHeader {
  color: var(--principal-400);
  justify-self: center;
  font-family: var(--font-title);
  font-size: 2rem;
  letter-spacing: 0.0625rem;
  max-width: 40ch;

  /* Limitar o texto à 2 linhas e colocar 3 pontinhs no final */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical; 
}

.section {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  position: relative;
  padding: 2rem 1rem 4rem 1rem;
}

.image {
  height: 35rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  color: var(--black-50);
  font-family: var(--font-title);
  font-size: 3rem;
  max-width: 52ch;
  letter-spacing: 0.0625rem;
}

.author {
  font-family: var(--font-text);
  color: var(--black-400);
  font-weight: 600;
  font-size: 1rem;
}

.author span {
  font-weight: 500;
  color: var(--black-600);
}

.buttonConfirm {
  font-family: var(--font-title);
  font-weight: 800;
  font-size: 2rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
  color: var(--black-950);
  background: var(--principal-400);
  outline: none;
  border: none;
  cursor: pointer;
  box-shadow: var(--glow-effect);
  transition: transform .3s;
}

.buttonConfirm:hover,
.buttonConfirm:focus {
  outline: 2px solid var(--black-50);
  transform: translateY(-1rem);
}

.infoList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font-text);
  font-size: 1.5rem;
  font-weight: 600;
  text-align: right;
  color: var(--black-50);
  border-bottom: 2px solid var(--black-700);
  padding-bottom: .75rem;
}

.infoIcon * {
  stroke-width: 1.25rem
}

.infoIcon svg {
  width: 3rem;
  color: var(--principal-400);
}

.description {
  display: flex;
  flex-direction: column;
  gap: 1rem
}

.descriptionTitle {
  font-family: var(--font-title);
  font-weight: 600;
  font-size: 2rem;
  color: var(--principal-400);
  letter-spacing: 0.0625rem;
}

.descriptionBox {
  background: var(--black-600);
  font-family: var(--font-text);
  font-weight: 600;
  color: var(--black-50);
  padding: 1.25rem 1rem;
  border-radius: 0.5rem;
}

.descriptionBox .noContent {
  color: var(--black-200);
  font-weight: 600;
}

@media (max-width: 37.5rem) {
  .title {
    font-size: 2rem;
  }

  .buttonConfirm {
    font-size: 1.5rem;
  }

  .image {
    height: 30rem;
  }

  .info {
    font-size: 1rem;
  }

  .infoIcon svg {
    width: 2rem;
  }
}