.container {
  background: var(--black-900);
  padding: 1.5rem 1rem;

  display: flex;
  align-items: center;
  text-align: center;
}

.container.flexSpace {
  justify-content: space-between;

}

.container.flexCenter {
  justify-content: center;
}